@font-face {
    font-family: "HK-Gor";
    src: url(font-s/font1/HKGrotesk-Regular.otf);
}
@import url('https://fonts.cdnfonts.com/css/louis-george-cafe');
@font-face {
    font-family: 'Louis-George-Caf-Bold';
    src:url('Louis-George-Caf-Bold.ttf.woff') format('woff'),
        url('Louis-George-Caf-Bold.ttf.svg#Louis-George-Caf-Bold') format('svg'),
        url('Louis-George-Caf-Bold.ttf.eot'),
        url('Louis-George-Caf-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
:root{
    --paracolour: #7D7F82;
    --bgcolor: #222127;
    --oragne: #E93314;
    --bgcolorlight: #F8F5F2;
    --heafont: 'Louis George Café', sans-serif;
    --hea2: 'Louis-George-Caf-Bold';
    --font: "Hk-Gor";
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid #E93314; */
}
#navbar{
    width: 100vw;
    min-height: 90px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--bgcolor); */
    font-family: var(--font);
    font-weight: bold;
    padding: 0 5%;
    font-size: 1.1rem;
    position: fixed;
    z-index: 50;
    /* background-color: #222127; */
}
.nav-icons{
    color: white;
}
.nav-icons i{
    margin: 0 10px;
    font-size: 1.5rem;
    cursor: pointer;
}




/* banner */




#banner{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url(images/port-098-copyright1.jpg);
    background-size: cover;
    background-position: center;
}
.text-1-banner{
    width: 60%;
    text-align: center;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-1-banner h1{
    font-family: var(--heafont);
    font-size: 4.5rem;
    /* width: 50%; */
    text-align: center;
    color: white;
    font-weight: 500;
}
.text-1-banner h3{
    font-family: var(--heafont);
    color: white;
}
.scroll-icon{
    /* margin-left: 12%; */
    /* margin-top: 80px; */
    position: absolute;
    bottom: 70px;
    animation: scroll 2s infinite linear;
}
@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}
.scroll{
    position: absolute;
    bottom: 40px;
    font-weight: bold;
    color: white;
    font-family: var(--font);
}

.fixed-icons{
    position: absolute;
    right: 0;
    top: 38%;
    width: 48px;
    height: 200px;
    /* border: 1px solid red; */
    background-color: #0D0D12;
    position: fixed;
}
.box-fixed-icon{
    position: relative;
    width: 100%;
    height: 66.66px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(211, 211, 211, 0.11);
    z-index: 50;
}




/* section 3 */




#section3{
    width: 100%;
    min-height: auto;
    background-color: white;
    padding: 50px 5%;
    display: flex;
    align-items: flex-end;
}


.text-box-sec-3{
    margin-top: 100px;
}
.line-text-sec-3{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}
.line-sec-3{
    width: 80px;
    border-top: 2px solid;
    margin-right: 20px;
}
.line-text-sec-3 p{
    /* margin-left: 20px; */
    font-family: var(--font);
    font-size: 1.2rem;
    color: #0D0D12;
}
.text-box-sec-3 h1{
    font-family: var(--hea2);
    font-size: 2.8rem;
    width: 60%;
    margin-top: 20px;
    line-height: 1.2;
}
.text-box-sec-3 .para-sec-3{
    margin-top: 30px;
    font-family: var(--font);
    width: 65%;
    color: var(--paracolour);
    font-size: 1rem;
}
.btn-sec-3{
    font-family: var(--font);
    font-weight: 900;
    background-color: black;
    border: 2px solid white solid;
    border-radius: 5px;
    height: 52px;
    width: 500px;
    font-size: 1rem;
    transition: all .5s;
    color: white;
}
.btn-sec-3:hover{
    background-color: var(--bgcolor);
    border: 2px solid white solid;
}




/* section 4 */



#section4{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 5%;
}
.box-sec-4{
    width: 50%;
    /* border: 2px solid white solid; */
}
.line-text-sec-4{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.line-sec-4{
    width: 80px;
    border-top: 2px solid;
    margin-right: 20px;
}
.line-text-sec-4 p{
    /* margin-left: 20px; */
    font-family: var(--font);
    font-size: 1.2rem;
    color: #0D0D12;
}
.part-1-img-sec-4{
    /* border: 1px solid; */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.text-sec-4{
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 20px;
    opacity: 0;
    transition: all 1s;
}
.text-sec-4 p{
    font-family: var(--font);
    background-color: var(--bgcolor);
    padding: 5px 0px;
    text-align: center;
    color: white;
    width: 100px;
}
.text-sec-4 h1{
    font-family: var(--hea2);
    background-color: var(--bgcolor);
    padding: 5px 0;
    text-align: center;
    color: white;
    margin-top: 10px;
    width: 250px;
}
.text-sec-4 i{
    color: var(--oragne);
    transition: all .5s;
}
.part-1-img-sec-4:hover .text-sec-4{
    opacity: 1;
}
.part-1-img-sec-4:hover .text-sec-4 i{
   transform: translateX(20px);
}
.part-1-img-sec-4 img{
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
}
.part-1-img-sec-4:hover img{
    transform: scale(1.1);
}
.img-1-sec-4{
    width: 80%;
    margin: 100px 0;
}
.box-2-sec-4{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.part-2-img-sec-4{
    /* border: 1px solid; */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.part-2-img-sec-4:hover .text-sec-4{
    opacity: 1;
}
.part-2-img-sec-4:hover .text-sec-4 i{
   transform: translateX(20px);
}
.part-2-img-sec-4 img{
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
}
.part-2-img-sec-4:hover img{
    transform: scale(1.1);
}
.img-4-sec-4{
    width: 80%;
    margin: 90px 0;
}
.btn-sec-4{
    font-family: var(--font);
    font-weight: 900;
    background-color: var(--oragne);
    border: 2px solid;
    border-radius: 5px;
    height: 52px;
    width: 200px;
    margin-top: 50px;
    font-size: 1rem;
    transition: all .5s;
    color: white;
}
.btn-sec-4:hover{
    background-color: var(--bgcolor);
    border: 2px solid white solid;
}




/* section 5 */




#section5{
    width: 100%;
    min-height: auto;
    background-color: white;
    padding: 50px 5%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-end; */
}

.box-sec-5{
    width: 50%;
    /* border: 2px solid white solid; */
}
/* .text-box-sec-5{

} */
.line-text-sec-5{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.line-sec-5{
    width: 80px;
    border-top: 2px solid;
    margin-right: 20px;
}
.line-text-sec-5 p{
    /* margin-left: 20px; */
    font-family: var(--font);
    font-size: 1.2rem;
    color: #0D0D12;
}
.text-box-sec-5 h1{
    font-family: var(--hea2);
    font-size: 2.8rem;
    margin-top: 20px;
    line-height: 1.2;
    width: 70%;
}




/* section 6 */




#section6{
    width: 100%;
    min-height: 70vh;
    background-color: white;
    /* border: 2px solid white solid; */
    padding: 5% 50px;
    display: flex;
    align-items: center;
}
.card-box-sec-6{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
}
.cards-sec-6{
   width: calc(33.33% - 20px);
   margin: 0 10px;
   overflow: hidden;
   border: 1px solid lightgrey;
   transition: all .5s;
   border-radius: 5px;
   position: relative;
}
.cards-sec-6::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2221275e;
    width: 100%;
    height: 100%;
    z-index: 15;
    opacity: 0;
    transition: all.5s;
}
.cards-sec-6 img{
    width: 100%;
    opacity: 0;
    transition: all 1s;
    border-radius: 5px;
}
.cards-sec-6:hover:before{
    opacity: 1;
}
.cards-sec-6:hover{
    transform: translateY(-10px);
}
.cards-sec-6:hover img{
    opacity: 1;
    transform: scale(1.1);
}
.card-box-sec-6:hover .text-sec-6 h2{
    color: white;
} 
.text-sec-6{
    position: absolute;
    z-index: 20;
    top: 0;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.text-sec-6 p{
    font-family: var(--font);
    color: var(--paracolour);
}
.text-sec-6 h2{
    font-family: var(--hea2);
    margin-bottom: 20px;
    transition: all .5s;
    z-index: 30;
}




/* section 10 */



#section10{
    width: 100%;
    min-height: auto;
    background-color: var(--bgcolor);
    padding: 0px 5%;
    padding-top: 100px;
}
.footer-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    font-family: var(--font);
}
.fg-item-1,
.fg-item-2,
.fg-item-3,
.fg-item-4{
    padding-bottom: 50px;
}
.footer-text h3{
   color: white;
   font-family: var(--hea2);
}
.footer-text li{
    color: var(--paracolour);
    list-style: none;
    margin: 25px 0;
    font-size: 1.1rem;
    transition: all .5s;
    cursor: pointer;
}
.footer-text i{
    color: white;
    margin: 25px 10px;
    transition: all .5s;
    cursor: pointer;
}
.footer-text i:hover{
    color: var(--oragne);
}
.footer-text p{
    color: var(--paracolour);
}
.fg-item-5{
    grid-column: 1 / 5;
    border-top: 1px solid var(--paracolour);
    padding: 30px 0;
}
.underline-effect{
    text-decoration: underline;
}
.underline-effect:hover{
    text-decoration: none;
    color: white;
}
.white-hover:hover{
    color: white;
}
.footer-li-2:hover{
    color: var(--oragne);
    transform: translateX(10px);
}